<!-- Footer -->
<footer class="page-footer font-small blue mt-5">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="/"> Zaid</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./js/scripts.js"></script>
</body>
</html>